* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #292C2F;
    color: #fff;
}

header {
    display: flex;
    justify-content: center; /* Центрируем логотип и меню */
    align-items: center;
    background-color: #000;
    padding: 20px 0; /* Увеличиваем высоту хедера */
}

.logo img {
    height: 80px; /* Увеличиваем размер логотипа */
}

.menu-icon {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: 20px; /* Отступ между логотипом и меню */
}

.menu-icon div {
    width: 30px;
    height: 4px;
    background-color: #fff;
    margin: 4px 0;
}

#menu {
    display: none;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

#menu.active {
    display: block;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    margin: 5px 0;
}

#menu ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрируем элементы по горизонтали */
    gap: 20px;          /* Промежуток между изображениями */
}

.top-row {
    display: flex; /* Горизонтальное размещение первых двух изображений */
    gap: 20px;     /* Промежуток между изображениями в верхнем ряду */
}

.image-container {
    width: 150px;  /* Ширина для всех контейнеров изображений */
    height: 200px; /* Высота для всех контейнеров изображений */
    background-color: transparent; /* Убираем черный фон */
    border: 2px solid #555;
    border-radius: 10px;
    overflow: hidden;
}

.center-image {
    margin-top: 20px; /* Добавляем отступ сверху для центрального изображения */
}

aside {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 100px;
    right: 20px;
    gap: 10px;
}

.icon {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img {
    width: 100%; /* Изображение заполняет контейнер */
    height: auto;
}

footer {
    background-color: #000;
    text-align: center;
    padding: 10px;
}

footer p {
    font-size: 12px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}
